h1{
    text-align:center 
}

.card{
    height:450px;
    width:20%;
    background-color:#aac5e7;
    font-size: 17px;
    float:left;
    margin-left:5%;
    overflow: scroll;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.amsdiv{
    background-color:#d0ad9f;
}

#lodin{
    background-color:#b4a294;
}
.heldiv{
    background-color:#5aa1c7;
}


#mycard{
    height:200px;
    width:80%;
    background-color:#f5c8f5;
    float:left;
    margin-left:5%;
    margin-top:4%
}

#imageDiv{
    float:left;
}

.card > img{
    width:100%;
    height:200px
}