body{
   margin:auto 
}
a{
    text-decoration:none
}
header{
    height:60px;
    /*border:5px solid hotpink;*/
    background-color: #3b2632;
}

#brand{
    font-size:30px;
    color:white;
    float:left;
    margin-top: 10px;
    margin-left: 15px;
}

#social{
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

.slogo{
    width:50px
}

/* Search */
#main{
   width:80%;
   margin-left: 10%;
   margin-top:2%;
   display: inline-block; 
}

#filter{
    height:600px;
    width:20%;
    border:2px solid red;
    float: left;
}

#list{
    width: 75%;
    float: left;
    margin-left: 4%;
    margin-top: -18px;
   
}

.tile{
    border:2px solid red;
    height:300px;
    width:100%;
    margin-top: 2%;
}

/*Footer*/
footer{
    height:130px;
    /* border:5px dotted navy */
    background-color: #3b2632;
    color:white;
    text-align:center
}

.footDiv{
    float:left;
    width:30%;
    border-right: 1px solid white;
}

.noborder{
    border:none
}
ul {
    list-style: none;
}

@media screen and (max-width:1600px){
    body{
        background-color:#f0d2f5
    }
}

@media screen and (max-width:1400px){
    body{
        background-color:#f4cdbf
    }
}

@media screen and (max-width:1220px){
    body{
        background-color:#e9f1cb
    }
    .tileContainer{
        width:45%
    }
}

@media screen and (max-width:1000px){
    body{
        background-color:#c2f1f1
    }
}

@media screen and (max-width:800px){
    body{
        background-color:#f0a1de
    }
    .tileContainer{
        width:90%
    }
}

@media screen and (max-width:500px){
    body{
        background-color:#f0a1a1
    }
    .tileContainer{
        width:100%
    }
}